
a:hover, a:active { text-decoration: none }

.navbar-inverse .brand, .navbar-inverse .nav > li > a { color:#fff }
.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus { 
	background-color: #ccc;
	border-radius: 10px;
	color:#000;
	text-shadow:none;
 }

.navbar-inverse .nav li > a:hover { color:#F26531; }

.navbar .nav > li { margin-right:10px; }

.navbar-inner { min-height:60px; }

.navbar .container { padding-top:9px; }

.navbar-inverse, .navbar-inner { 
	background-color: rgb(47, 47, 46);
	background-image: linear-gradient(to bottom, rgb(47, 47, 46), rgb(47, 47, 46)) !important;
}
.navbar .brand { margin-left:1px; }
.nav-tabs { border-bottom:none; }

footer { margin-top:20px; }

/* Responsive */



@media (min-width: 768px) and (max-width: 979px) {

    .hero-unit .lead { font-size:25px; }
    .hero-unit, .hero-unit.speakers { margin-top:-20px; }
    .hero-unit h1 { font-size:35px; }
    h1 { font-size:30px;}
    h2 { font-size: 20px }
    iframe.video { width:276px; height:160px; }
    .regular-fs { font-size:13px; line-height: 20px }
    .container.summary .row { margin-bottom: 40px }
    div.nav-collapse { text-align: center }
    .navbar .container { width: 724px }
}


@media (max-width: 767px) {

	.hero-unit, .hero-unit.speakers { margin-top:-20px; border-radius:1px  }
    .hero-unit h1 { font-size:40px; }
	.hero-unit .lead { font-size:25px; }
	h1 { font-size:30px;}
    h2 { font-size: 20px }
    .footer-sponsors { background-color: transparent; }
    .regular-fs { font-size:13px; line-height: 20px }
    div.row { margin:0px 0px 20px 0px; }
    .summary img { display: none }
    h1 a.brand { 
	background:url("../img/logo-small.png") no-repeat scroll 0 0 transparent;
	width:195px;
	padding-bottom:0px;
	}
	.navbar-inner .container { padding:0px 10px 0px 15px; width: 650px }
	body {padding:0px;}
	.navbar { margin-right: 0px }
	iframe.video { width:665px; height:350px; }
	div.nav-collapse { text-align: center }
	.summary .row { padding:0px 15px 0px 15px; }
}

@media (max-width: 480px) {
	body { padding:0px; }
	.hero-unit h1 { font-size:25px; }
	.hero-unit .lead { font-size:20px; line-height: 20px }
	.hero-unit { border-radius:1px; padding-top:20px; }
	iframe.video { width:250px; height:189px; }
	.hero-unit { margin-top:-40px; border-bottom: 1px solid #fff }
	.navbar-inner .container { width:305px; }
	.navbar-inner .container h1 a.brand { margin-left:15px; }
	.navbar { margin-right: 0px }
	.summary .row { padding:0px 15px 0px 15px; }
	.summary h2 { line-height: 25px }
	.navbar-inner a.buy { margin-right:21px; width:230px; }
	div.nav-collapse { text-align: center }
	.footer-sponsors .main-sponsor { display: none }
}



